
{{ define "main" }}
<article>
  <img src="images/me.jpg" alt="A man with a beard">
  <h1>Anton Alekseev</h1>
  <p>Python developer</p>
  <address>Saint-Petersburg, Russia</address>

  <section aria-labelledby="AboutMe">
    <h2 id="AboutMe">About me</h2>
    {{ .Content }}
  </section>

  <section aria-labelledby="SkillSet">
    <h2 id="SkillSet">Skill Set</h2>
    <ul>
    {{ range $.Site.Data.skills }}
      <li>{{ . }}</li>
    {{ end }}
    </ul>
  </section>

  <section aria-labelledby="WorkExperience">
    <h2 id="WorkExperience">Work Experience</h2>
    {{ range $.Site.Data.jobs }}
    <section aria-label="{{ .position }} at {{ .company.name }}">
      <h3>{{ .position }} at <a href="{{ .company.url }}" title="{{ .company.title }}">{{ .company.name }}</a></h3>
      <small>{{ dateFormat "January 2006" .from }} - {{ if .to }}{{ dateFormat "January 2006" .to }}{{ else }} Present {{ end }}</small>
      <p>{{ .description }}</p>
      <section aria-label="Responsibilities">
        <h4>Responsibilities</h4>
        <ul>
        {{ range .responsibilities }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      </section>
      <section aria-label="Achievements">
        <h4>Achievements</h4>
        <ul>
        {{ range .achievements }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      </section>
    </section>
    {{ end }}
  </section>

  <section aria-labelledby="Education">
    <h2 id="Education">Education</h2>
    {{ range $.Site.Data.education }}
    <section>
      <h3>{{ .organization }} ({{ dateFormat "2006" .from }} - {{ dateFormat "2006" .to }})</h3>
      <p>{{ .degree }} degree, {{ .title }}</p>
      <ul>
      {{ range .other }}
        <li>{{ . }}</li>
      {{ end }}
      </ul>
    </section>
    {{ end }}
  </section>

</article>
{{ end }}