<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{- partial "meta.html" . -}}

    {{- safeHTML "<style>" -}}
    {{- partial "styles.css" . -}}
    {{ safeHTML "</style>" }}
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
  </head>
  <body>
    {{ $current := .URL }}
    <header>
      <nav>        
        <ul>
        {{ range .Site.Menus.main }}
          <li><a href="{{- .URL -}}" {{ if eq .URL $current }}class="active"{{ end }}>{{- .Pre -}}<span>{{- .Name -}}</span></a></li>
        {{ end }}
        </ul>
      </nav>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>

    <footer>
      <nav>
        {{ if .Site.Menus.contacts }}
        <ul>
        {{ range .Site.Menus.contacts }}
          <li><a href="{{- .URL -}}">{{- .Pre -}}<span>{{- .Name -}}</span></a></li>
        {{ end }}
        </ul>
        {{ else }}
        <p>{{ .Site.Copyright }}</p>
        {{ end }}
      </nav>
    </footer>
  </body>
</html>